@charset "UTF-8";
@font-face {
    font-family: 'manuscrita';
    src: url(fonts/Angela\ Cindysttar.otf);
}
@font-face {
    font-family: 'manuscrita2';
    src: url(fonts/Bradley\ Milestiago.otf);
}
@font-face {
    font-family: 'elegante' ;
    src: url(fonts/Bashield.otf);
}
@font-face {
    font-family: 'elegante2';
    src: url(fonts/Elegante\ Classica.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
/* Paleta de cores 

--khaki: #a39b8bff;
--celestial-blue: #1b98e0ff;
--indigo-dye: #003d5bff;
--coffee: #6d4c3dff;
--dark-purple: #2e0219ff;
*/
    :root {
            --cor-primaria: #293040;
            --cor-secundaria:#D5B263;
            --cor-terciaria: #aaa9a9;
            --cor-quaternaria: #250214;
            --cor-quintenaria: #003d5bff;
            --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
            --fonte-cursiva:'manuscrita2';
            --fonte-elegante: 'elegante2';

        }

        html, body {
        height: 100vh;
            
        }

    body {
            background-color: var(--cor-primaria);
            overflow-x: hidden;
        }

        header {
            
            background-color: transparent;
            color: white;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.32);
            
            
        }
        
            nav { /* Barra de menu */
                
                background-color: transparent;
                display: flex;
                justify-content: right;
                align-items: center;
                gap: 0px 10px;
                /* Glass effect */
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.71)-35% , transparent);
                background-color: rgba(0, 0, 0, 0.123);
            }
                
                .nav-bar {
                    position: fixed;
                    width: 100vw;
                    justify-content: space-between;
                    padding: 10px ;
                    z-index: 100;
                }

                    .nav-list ul {
                        display: flex;
                        list-style: none;
                    }

                        .nav-item {
                            margin: 0 20px;
                            text-shadow: 4px 1px 6px black;
                            transition-duration: 400ms;
                            transition-timing-function: ease-out;   
                            list-style: none;
                            color: white;
                            
                            
                    }

                        .nav-item:hover {
                            text-decoration: underline;
                            
                            transform: scale(1.2);
                        }
            
                    .nav-link {
                        text-decoration: none;
                        font-size: 1.15rem;
                        color: white;
                        font-weight: 400;
                    }

                    .logo {
                       
                            position: relative;
                            left: -100px; /* Ajuste conforme necessário */
                            opacity: 0;
                            margin-left: 5px;
                            transition: all 1s ease-in-out;

                        
                    }

                    @keyframes slideIn {
                        from {
                          left: -100px;
                          opacity: 0;
                        }
                        to {
                          left: 0;
                          opacity: 1;
                        }
                      }

                      .logo {
                        animation: slideIn 1s forwards;
                      }
                      

                        .logo h1 {
                        
                            align-items: center;
                            font-family: var(--fonte-cursiva);
                            color: white;
                            text-shadow: 4px 1px 6px black;
                            transition-duration: 1s;
                            transition-timing-function: ease-out;
                            font-size: 1.2rem;
                        }

                        .logo p {
                                
                                align-items: center;
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 0.4rem;
                                line-height: 0.7rem;
                                padding: 0px 20px;
                                margin-left: -0.6rem;
                                color: rgb(0, 0, 0);
                                transition-duration: 500ms;
                                transition-timing-function: ease-out;    
                        }

                        .logo p:hover {
                            color: white;
                            }

                        .logo abbr {
                            text-decoration: none;
                        }
                    
                    
                    

                        
                    .mobile-menu  {
                           z-index: 101;
                            display: none;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.605);
                            /* Se colocar o border-radius normal, ele só arrendonda o canto superior esquerdo e o canto inferior direito, para customizar totalmente, tem que fazer um por um */
                            text-shadow: 4px 1px 6px black;
                            color: white;
                        }

                        .mobile-menu.open {
                            z-index: 90;
                            display: flex;
                            position:absolute;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            height: 100vh;
                            width: 100vw;
                            background-color: rgba(0, 0, 0, 0.95);
                            backdrop-filter: blur(10px);
                            -webkit-backdrop-filter: blur(10px);
                               
                        }

                
                        .mobile-menu-icon  {
                            display: none;
                            z-index: 91; 
                            margin-right: 10px;
                            cursor: pointer;
                            background-color: transparent;  
                        }

                        .mobile-menu ul {
                            z-index: 90;
                            background-color: var(--cor-quintenaria);
                            border-radius: 20px;
                            width: 100%;
                            background-image: linear-gradient(to bottom,var(--cor-primaria), var(--cor-quintenaria));
                            padding: 10px;
                        }

        
            .hero {
                top: 0;
                margin-top: 0;
              
                width: 100vw;
                display: flex;
                /* min-width: 211.13px; */
                
                
            }
                .hero h1 {
                    z-index: -1;
                    padding: 10px;
                    width: 100vw;
                    text-align:center;
                    color: white;
                    font-family: var(--fonte-elegante), 'cursive';
                    font-size: clamp(1rem, 2vw + 1rem, 3rem);
                    background-color: transparent;
                    backdrop-filter: blur(1px);
                    -webkit-backdrop-filter: blur(1px);
                    text-shadow: 4px 1px 6px black;
                    
                
                }

                @keyframes fadeIn {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
                
                .fade-in {
                    animation: fadeIn 2.5s ease-in-out;
                }
                

             
                    .video-bg {
                                
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        z-index: -1;
                        box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.333);
                        
                    }
                
                        .video-bg  h1 {
                        z-index: 8;
                        align-content: flex-end;
                        font-size: 25px;
                        padding-bottom: 10px;
                        color: #ffffff;
                        font-weight: bold;
                        justify-content: center;
                        text-align: center;
                        text-shadow: 4px 1px 6px black;
                    }
                                   
        main {
        
        margin-top: 55%;
        overflow-x: hidden;
        
        }                
       
        .about {
            margin-top: 8vh;
            height: auto;
            width: auto;
            display: flex;
            
            align-items: center;
            flex-direction: row;
            background-color: var(--cor-terciaria);
            flex-direction: row;
            text-align: center;
            
            text-align: justify;
            
            padding-top: 5rem;
            background-image: url(imagens/fotos/foto\ perfil_auto_x2.jpg);
            background-position: top right;
            background-size:cover;
            background-attachment: fixed;
            box-shadow: inset 10px 10px 13px rgba(0, 0, 0, 0.342);
            margin-bottom: 8vh;
           
            
            
          

            }

                .aboutleft {
                
                width: 50%;
                min-width: 200px;
                max-width: 600px;
                margin-right: auto;
                margin-top: 1rem;
                color: black;
                
                
                }

                
                   
                    
                    
                
                .about  h2 {
               
                    padding-left: 40%;

                    width: 100%;
                    position: absolute;
                    align-self: flex-start;
                    margin-top: -5rem;
                    
                    background-color: rgba(255, 255, 255, 0.427);
    
                    
                    font-size: clamp(1rem, 2vw + 1rem, 3rem);
                    font-family: var(--fonte-elegante), 'cursive';
                    color: var(--cor-quintenaria);
                    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.333);
                    box-shadow: 3px 2px 8px 2px rgba(0, 0, 0, 0.329);
                    
                
                }
               

                .about h2:hover {
                    background-color: rgba(255, 255, 255, 0.8);
                    cursor: pointer;
                }
   
                .about p {
                
                    font-weight: 500;
                    background-color: rgba(255, 255, 255, 0.427);
                    
                    padding: 1rem;
                    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.333);
                    box-shadow: 3px 2px 8px 2px rgba(0, 0, 0, 0.329);
                    border-radius: 20% 0%;
                
                
                
                
                }

                    .about p:hover {
                        background-color: rgba(255, 255, 255, 0.8);
                    }

                   .about p::first-letter {
                    font-family: var(--fonte-cursiva);
                    font-size: 4rem;
                    color: var(--cor-quintenaria);
                    float: left;
                    margin-right: 1.5rem;
                    text-shadow: 5px black;
                    }
        
                
                  
                  
                    .line, .carousel li img, .carousel li, .carousel {
                      width: 100%;
                    }
                    
                    .flex, .carousel-wrapper, .center, .carousel ul {
                      display: flex;
                    }
                    
                    .center, .carousel ul {
                      align-items: center;
                      justify-content: center;
                    }
                    
                    .carousel-wrapper {
                      position: relative;
                      max-width: auto;
                      margin: 50px;
                    }
                    .carousel-wrapper input {
                      display: none;
                    }
                    
                    .carousel {
                      overflow: hidden;
                      border-radius: 15px;
                    }
                    .carousel ul {
                      position: relative;
                      list-style: none;
                      overflow: hidden;
                      margin: 0;
                      padding: 0;
                      height: 100%;
                      width: 500%;
                      transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
                    }
                    .carousel li img {
                      border-radius: 15px;
                    }
                    
                    .nav-dot {
                      position: absolute;
                      cursor: pointer;
                      margin-left: -7.5px;
                      bottom: -22.5px;
                      width: 15px;
                      height: 15px;
                      opacity: 0.5;
                      background-color: white;
                      border-radius: 50%;
                      transition: 0.4s;
                    }
                    .nav-dot:hover {
                      opacity: 0.8;
                      transform: scale(1.2);
                    }
                    .nav-dot:active {
                      transform: scale(0.9);
                    }
                    
                    .nav-dot[for=slide1] {
                      left: 40%;
                    }
                    
                    #slide1:checked ~ .carousel ul {
                      left: 0%;
                    }
                    #slide1:checked ~ .nav-dot[for=slide1] {
                      opacity: 1;
                    }
                    
                    .nav-dot[for=slide2] {
                      left: 45%;
                    }
                    
                    #slide2:checked ~ .carousel ul {
                      left: -100%;
                    }
                    #slide2:checked ~ .nav-dot[for=slide2] {
                      opacity: 1;
                    }
                    
                    .nav-dot[for=slide3] {
                      left: 50%;
                    }
                    
                    #slide3:checked ~ .carousel ul {
                      left: -200%;
                    }
                    #slide3:checked ~ .nav-dot[for=slide3] {
                      opacity: 1;
                    }
                    
                    .nav-dot[for=slide4] {
                      left: 55%;
                    }
                    
                    #slide4:checked ~ .carousel ul {
                      left: -300%;
                    }
                    #slide4:checked ~ .nav-dot[for=slide4] {
                      opacity: 1;
                    }
                    
                    .nav-dot[for=slide5] {
                      left: 60%;
                    }
                    
                    #slide5:checked ~ .carousel ul {
                      left: -400%;
                    }
                    #slide5:checked ~ .nav-dot[for=slide5] {
                      opacity: 1;
                    }
                    
                    .right-arrow, .left-arrow {
                    z-index: 3;
                      color: white;
                      display: none;
                      position: absolute;
                      cursor: pointer;
                      font-weight: bolder;
                      text-shadow: 0 0 7.5px rgba(0, 0, 0, 0.7);
                      top: 50%;
                      z-index: 1;
                      opacity: 0.7;
                      margin-top: -25px;
                      height: 50px;
                      font-size: 50px;
                      transition: 0.2s;
                    }
                    .right-arrow:hover, .left-arrow:hover {
                      opacity: 1;
                      transform: scale(1.2);
                    }
                    .right-arrow:active, .left-arrow:active {
                      transform: scale(0.9);
                    }
                    
                    .left-arrow {
                      left: 15px;
                    }
                    
                    .right-arrow {
                      right: 15px;
                    }
                    
                    #slide1:checked ~ .left-arrow[for=slide5], #slide1:checked ~ .right-arrow[for=slide2] {
                      display: block;
                    }
                    
                    #slide2:checked ~ .left-arrow[for=slide1], #slide2:checked ~ .right-arrow[for=slide3] {
                      display: block;
                    }
                    
                    #slide3:checked ~ .left-arrow[for=slide2], #slide3:checked ~ .right-arrow[for=slide4] {
                      display: block;
                    }
                    
                    #slide4:checked ~ .left-arrow[for=slide3], #slide4:checked ~ .right-arrow[for=slide5] {
                      display: block;
                    }
                    
                    #slide5:checked ~ .left-arrow[for=slide4], #slide5:checked ~ .right-arrow[for=slide1] {
                      display: block;
                    }
                    
                    .signature {
                      margin-top: 100px;
                      bottom: 0;
                      font-family: "Quicksand";
                      color: #9696aa;
                      text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
                    }
                    .signature .name {
                      color: white;
                    }
                    .signature .dot {
                      margin: 0 5px;
                    }
                    .signature a {
                      color: white;
                      text-decoration: underline;
                    }
                
                

    @media  (max-width: 600px) {
    
        .nav-item {
            display: none;
        }
        .mobile-menu-icon {
            display:block;
            
        }
        .mobile-menu-icon button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            
        }
        .mobile-menu ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;

        }
        .mobile-menu .nav-item {
            display: inline;
            padding-top: 1.2rem;
        }
        .open {
            position: absolute;
        }

        .about {
            min-height: 30vh;
        }

        
    
    }



